extends ../../layout

block content
  .container
    h1.page-header #{survey.title} 의 질문 목록
    
  
    table.table.table-bordered
      thead
        tr

          th 제목
          th 질문 사항
          th
      tbody
        each question in questions
          tr
            td
              if login.type =='super'
                a(href='/surveys/#{survey.id}/#{question.id}/result')= question.title
              else
                a(href='/surveys/#{survey.id}/#{question.id}/answer')= question.title
            td= question.content
            if login.type == 'super'  
              td
                a.btn.btn-xs.btn-default(href='/surveys/#{survey.id}/#{question.id}/alter') 수정
                | 
                a.btn.btn-xs.btn-default(href='/surveys/#{survey.id}/#{question._id}/?_method=DELETE') 삭제
    
    if login.type == 'super'  
      a.btn.btn-primary(href='/surveys/#{survey.id}/questions/new') 질문추가
    | 
    a.btn.btn-default(href='/surveys') 목록          
    
